/* INICIO */

.inicio{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-template-areas: 
    "inicio__carrusel"
    "linksversatiles"
    ;
}
.inicio__carrusel{
    width: 1000px;
    grid-area: inicio__carrusel;
}

/* BIOGRAFIA */

.biografia{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 3;
    grid-template-areas:
    "titulo titulo" 
    "biografia__historia biografia__img"
    "linksversatiles linksversatiles"
    ;
}
.biografia__img{
    grid-area: biografia__img;
    img{
        width: 600px;
    }
}
.biografia__historia{
    grid-area: biografia__historia;
    font-family: $font2;
    font-size: 15px;
}

/* GIRA */

.gira{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    grid-template-areas: 
    "titulo"
    "gira__fechas"
    "gira__entradas"
    "linksversatiles"
    ;
}
.gira__fechas{
    margin: 10px;
    grid-area: gira__fechas;
    width: 680px;
}
.gira__entradas{
    grid-area: gira__entradas;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
        font-family: $title-font;
        color: #ffffff;
        border-style: solid;
    }
}

/* DISCOGRAFIA */

.discografia__discos{
    margin: 40px;
    font-family: $font2;
    font-size: 20px;
    ol li div img {
        width: 300px;
        height: 300px;
        border: rgb(117, 102, 102) 2px double;
    }    
}
.contenedordiscos{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(7, auto);
    gap: 1px;
    grid-template-areas: 
    "disco1 disco2"
    "disco3 disco4"
    "disco5 disco6"
    "disco7 disco8"
    "disco9 disco10"
    "disco11 disco12"
    "disco13 disco13"
    ;
}
.disco1  {grid-area:disco1}
.disco2  {grid-area:disco2}
.disco3  {grid-area:disco3}
.disco4  {grid-area:disco4}
.disco5  {grid-area:disco5}
.disco6  {grid-area:disco6}
.disco7  {grid-area:disco7}
.disco8  {grid-area:disco8}
.disco9  {grid-area:disco9}
.disco10 {grid-area:disco10}
.disco11 {grid-area:disco11}
.disco12 {grid-area:disco12}
.disco13 {grid-area:disco13}

/* GALERIA */

.galeria section div{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
        width: 250px;
        height: 250px;
        border: rgb(117, 102, 102) 2px double;
        opacity: .6;
        margin: 7px;
        &:hover{
            opacity: 1;
            border: rgb(117, 102, 102) 2px solid;
        }
    }
}

/* FORMULARIO */

.contacto{
    margin: 10px;
    .contacto__formulario{
        border-style: solid;
        border-color: rgb(17, 16, 16);
        width: 500px;
        background-color: rgb(24, 24, 24);
        padding: 20px;
        margin: auto;
        margin-bottom: 20px;  
        form{
            text-align: center;
            div{
                margin-bottom: 10px;
                textarea{
                    width: 100%;
                    font-family: $font2;
                }
                input{
                    width: 100%;
                    height: 25px;
                    font-family: $font2;
                }
            }
            .botonesdecontacto input{
                width: 150px;
                height: auto;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
    }
}