$title-font: 'Rock Salt', cursive;
$font2: 'Ubuntu', sans-serif;
$fontcolor:#ffffff;
$link: rgb(182, 8, 8);
$fondo: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(41,37,37,1) 18%, rgba(24,14,14,1) 80%, rgba(51,51,51,1) 100%);